body {
    font-family: Arial, sans-serif; /* change the font of the body */
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: #e44d26; /* change the colour of the heading */
    text-align: center; /* center the heading */
    text-shadow: 2px 2px 4px black; /* add a shadow effect to the heading */
    margin-top: 50px;
}

ul {
    list-style: none; /* remove the bullet points from the list */
    margin: 20px auto; /* remove the margin from the list */
    padding: 0; /* remove the padding from the list */
    text-align: center;
}

li {
    margin: 10px 0; /* add som marging around the list items */
}
a {
    text-decoration: none; /* remove the underline from the links */
    color: #333; /* change the colour of the links */
    font-weight: bold; /* make the links bold */
    background-color: #e44d36;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

a:hover {
    background-color: #333;
    color: #e44d26;
}